{% extends 'DLFamilytreeBundle::base.html.twig' %}
{% block title %}ajouter{% endblock %}
{% block body %}

 

<h2>Ajouter une personne</h2>

{{ form_start(form) }}

<div class="">
  {{ form_label(form.firstname) }}
  {{ form_widget(form.firstname, {"attr":{"class":"name"}}) }}
</div>

<div class="">
  {{ form_label(form.lastname) }}
  {{ form_widget(form.lastname) }}
</div>


<div class="">
  {{ form_label(form.imageFile) }}
  {{ form_widget(form.imageFile) }}
</div>

{{ form_end(form) }}

{% endblock %}
