{% extends 'DLFamilytreeBundle::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/DLFamilytreeBundle/css/vendor/bootstrap/bootstrap.min.css') }}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{ asset('bundles/DLFamilytreeBundle/css/vendor/purecss/pure-min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/DLFamilytreeBundle/css/people/people.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block body %}

<div class="wrapper-people">
    <div class="container people-list">
        <div class="row">
            <div class="container-add col-xxs-12 col-xs-6 col-sm-4 col-md-3 col-lg-2">
                {{ form_start(form, {"attr":{"class":"pure-form pure-form-stacked"}}) }}

                <div class="people-form-firstname">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname, {"attr":{"class":"people-firstname"}}) }}
                </div>

                <div class="people-form-lastname">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname, {"attr":{"class":"people-lastname"}}) }}
                </div>

                <div class="people-form-image">
                    {{ form_label(form.imageFile) }}
                    {{ form_widget(form.imageFile) }}
                </div>

                {{ form_end(form) }}
            </div>

            {% for people in peoples %}
                <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="container-show">
                        <div class="person-data">
                            <span class="firstname">{{ people.firstname }}</span>
                            <span class="lastname">{{ people.lastname }}</span>
                        </div>
                        {% if people.image is null %}
                            <p>Pas d'image</p>
                        {% else %}
                            <div class="person-picture" style=" background-image: url('{{ asset('images/products/' ~ people.image) }}') "></div>
                        {% endif %}

                        <div class="actions">
                            <a href="{{ path("people_update", {'id':people.id}) }}" class="button-xsmall pure-button">modifier</a>
                            <a href="{{ path("people_delete", {'id':people.id}) }}" class="button-xsmall pure-button">supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
