{% extends 'DLFamilytreeBundle::base.html.twig' %}
{% block title %}Modification Personne{% endblock %}
{% block body %}

    {% block nav %}

        {{ parent() }}

    {% endblock %}
    <h2>Modifier</h2>

    {{ form_start(form) }}

  {{ form_label(form.firstname) }}
  {{ form_widget(form.firstname, {"attr":{"class":"name"}}) }}

  {{ form_label(form.lastname) }}
  {{ form_widget(form.lastname) }}


  {{ form_label(form.imageFile) }}
  {{ form_widget(form.imageFile) }}

  {{ form_end(form) }}

{% endblock %}
