{% extends 'DLFamilytreeBundle::base.html.twig' %}

{% macro constructVisualTree(node,parent) %}
    {% import _self as self %}
    {% if "label" in node | keys %} 
        <ul>
            <li>
                {% if node["empty"] %} 
                    <div>{{ node["label"]  ~ parent }} 
                {% else %}
                    {% if node["image"] %} 
                        <div style="background-image:url('{{ asset('images/products/' ~ node['image']) }}')">
                    {% else %}
                        <div>{{ node["label"]  }}
                    {% endif %}
                {% endif %}
                </div>
            </li>
            
            {% if "Père" in node["relations"] | keys %} 
            <li>
                {{ self.constructVisualTree( node["relations"]["Père"], "Père" ) }}
            </li>
                
            {% endif %}
            {% if "Mère" in node["relations"] | keys %} 
            
            <li>
                {{ self.constructVisualTree( node["relations"]["Mère"], "Mère" ) }}
            </li>
                
            {% endif %}
        </ul>
    {% endif %}
{% endmacro %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/DLFamilytreeBundle/css/tree/tree-view.css') }}" />
{% endblock %}

{% block title %}
Vue de l'arbre
{% endblock %}

{% from _self import constructVisualTree %}
{% block body %}

    <div class="list-people">
        <ul>

            {% for people in peoples %}

            <li>
                <a href="{{ path('tree_view', {'id':people.id}) }}">{{people.label}}</a>
            </li>

            {% endfor %}
        </ul>
    
    </div>
    
    <div class="tree-people">

    {{ constructVisualTree(tree) }}
    {#{{ dump(tree) }}#}
    
    </div>


{% endblock %}
