{% extends 'DLFamilytreeBundle::base.html.twig' %}

{% macro constructVisualTree(node) %}
    {% import _self as self %}
    <ul>
        <li><a href="#">{{ node["label"]  }}</a></li>
        {% if "Père" in node["relations"] | keys %} 
        <li>
            {{ self.constructVisualTree( node["relations"]["Père"] ) }}
        </li>
        {% endif %}
        {% if "Mère" in node["relations"] | keys %} 
        <li>
            {{ self.constructVisualTree( node["relations"]["Mère"] ) }}
        </li>
        {% endif %}
    </ul>
{% endmacro %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/dlfamilytree/css/tree.css') }}" />
{% endblock %}




{% block title %}
Vue de l'arbre
{% endblock %}

{% from _self import constructVisualTree %}
{% block body %}


    {{ constructVisualTree(tree) }}
    {{ dump(tree) }}


{% endblock %}
