{% extends 'DLFamilytreeBundle::base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('bundles/DLFamilytreeBundle/css/relation/relation.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block title %}Gestion des relations{% endblock %}
{% block body %}
    <div class="message_error" style="background:red;color:white;font-weight:bold">
        {{ message_error }}
    </div>
    <div class="message_ok" style="background:green;color:white;font-weight:bold">
        {{ message_ok }}
    </div>

    <div class="ajout-relation">
        <fieldset>
            <legend>
                Ajouter une relation
            </legend>
            {{ form_start(form, {"attr":{"class":"ajout-relation-form pure-form pure-form-aligned"}}) }}

            {{ form_widget(form.people_a) }}
            est
            {{ form_widget(form.relationship) }}
            de
            {{ form_widget(form.people_b) }}
            {{ form_widget(form.save) }}

            {{ form_end(form) }}
        </fieldset>
    </div>

    <div class="liste-relation">
        <fieldset>
            <legend>
                Liste des relations
            </legend>

            <table class="pure-table pure-table-striped">
                <thead>
                <tr>
                    <th>Première Personne</th>
                    <th>Type</th>
                    <th>Deuxième Personne</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for relation in relations %}
                    <tr>
                        <td>{{ relation.peopleA.label }}</td>
                        <td>{{ relation.relationship.name }}</td>
                        <td>{{ relation.peopleB.label }}</td>
                        <td><a href="{{ path("relation_delete", {'id':relation.id}) }}">supprimer</a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </fieldset>
    </div>
{% endblock %}