{% extends 'DLFamilytreeBundle::base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/dluser/css/deluser.css') }}" />

{% endblock %}
{% block body %}



<div class="container" style="background-image:url({{ asset('images/view/arbres.jpg') }})">

    <div class="content">

        <h4><p>Voulez vous vraiment supprimer l'utilisateur < {{ user.username }} > </h4>

        {{ form_start(form) }}

        {{ form_end(form) }}

    </div>

</div>
{% endblock %}
