



{% block body %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Connecté en tant que {{ app.user.username }}
        -
        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    {% endif %}

    <div>
        <p>Voulez vous vraiment supprimer l'utilisateur < {{ user.username }} > </p>
    </div> 

    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}