{% extends 'DLFamilytreeBundle::base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/dluser/css/profil.css') }}" />

{% endblock %}
{% block body %}






<div class="container" style="background-image:url({{ asset('images/view/arbres.jpg') }})">


<div class="content">
    <h1>Profil</h1>

    <div class="username">

        <p> Nom utilisateur : {{ app.user.username }} </p>

    </div>

<br/>
    <div class="email">

        <p> Adresse e-mail : {{ app.user.email }}

            {{ form_start(form2) }}{{ form_end(form2) }}</p>

            {% if  app.session.flashbag.get('notice') is defined %}
            {% for flashMessage in app.session.flashbag.get('notice') %}

            <div class="alert alert-success" style="color : red">
                {{ flashMessage }}
            </div>

            {% endfor %}
            {% endif %}
        </div>
<br/>


        <div class="password">

            <p>Modification du mot de passe : </p>
            {{ form_start(form) }}

            {{ form_end(form) }}

        </div>

    </div>
</div>





{% endblock %}
