<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome !{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/DLFamilytreeBundle/css/base.css') }}" />

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/svg" href="{{ asset('images/view/logo.svg') }}" />
</head>

<body>
    <div class="main-container">
        <header>

            <h1 class="logo">
                <a href="{{ path('dl_familytree_default_index')}}"
                style="background-image:url({{ asset('images/view/logo.png') }})"></a>
            </h1>

            <nav class="main-menu">



                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <ul>
                    <li><a href="{{ path('tree') }}">Arbres</a></li>
                </ul>
                {% if app.user.tree.name is defined %}
                <ul>
                    <li><a href="{{ path('people') }}">Personnes</a></li>
                    <li><a href="{{ path('relation') }}">Relations</a></li>
                    <li><a href="{{ path('tree_view') }}">Visuel</a></li>
                </ul>
                {% endif %}

                {% endif %}

            </nav>

            <div class="user-menu">
                <ul>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <li>
                        <span>Connecté en tant que {{ app.user.username }} </span>
                    </li> 
                    <li>
                        <span>
                        Arbre actif :
                        {% if app.user.tree.name is defined %}

                        {{ app.user.tree.name }}

                        {% else %}
                            Pas d'arbre actif
                        {% endif %}
                        </span>
                    </li>

                    <li class="user-option">
                        <ul>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                            <li><a href="{{ path('user_profil')}}">Profil</a></li>

                            {% if is_granted('ROLE_ADMIN') %}

                            <li><a href="{{ path('user_index') }}">Utilisateurs</a></li>

                            {% endif %}

                        </ul>
                    </li>

                    {% else %}

                    <li>
                        <a href="{{ path('fos_user_registration_register')}}">
                            Sign Up
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            Login
                        </a>
                    </li>

                    {% endif %}

                </ul>
            </div>

        </header>

        <main>

            {% block body %}{% endblock %}

        </main>
        
    </div>
    
    {% block javascripts %}{% endblock %}

</body>

</html>
