<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome !{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/shop/css/style.css') }}" type="text/css" media="all" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        {% block nav %}

            <fieldset>

                <legend>Naviguation</legend>

                <nav>

                    <a href="{{ path('dl_familytree_default_index')}}">Accueil</a><br/>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        Connecté en tant que {{ app.user.username }}
                        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a><br/>
                        <a href="{{ path('user_profil')}}">Profil</a><br/>
                        <ul>
                            <li>arbres
                                <ul>
                                    <li><a href="{{ path('people') }}">Personnes</a></li>
                                    <li><a href="{{ path('relation') }}">Relations</a></li>
                                    <li><a href="{{ path('tree_view') }}">Visuel</a></li>

                                </ul>

                            </li>
                        </ul>
                    {% else %}

                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        <a href="{{ path('fos_user_registration_register')}}">Inscription</a>

                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}

                        <a href="{{ path('user_index') }}">Gestion des utilisateurs</a>

                    {% endif %}

                </nav>

            </fieldset>

        {% endblock %}
        {% block body %}
            <header>




            </header>
        {% endblock %}
    {% block javascripts %}{% endblock %}
</body>

</html>
