<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome !{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/shop/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/dlfamilytree/css/header.css') }}" />
        {% block stylesheets %}

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>

        {% block nav %}

            <fieldset>

                <legend>Naviguation</legend>

                <nav>

                    <div id="menu">

                        <ul>

                            <li><a href="{{ path('dl_familytree_default_index')}}">Accueil</a></li>

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                <li class="arbres" ><a href="#"  >Arbres</a>

                                    <ul>

                                        <li><a href="{{ path('people') }}">Personnes</a></li>
                                        <li><a href="{{ path('relation') }}">Relations</a></li>
                                        <li><a href="{{ path('tree_view') }}">Visuel</a></li>

                                    </ul>

                                </li>

                            {% endif %}
                        </ul>

                    </div>


                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        <div class="profil">

                            Connecté en tant que {{ app.user.username }}

                            <div class="profilmenu">

                                <ul>
                                    <li><a href="#"><img src="{{ asset('images/view/profil.jpg') }}" id="profil_img"/></a>

                                        <ul>
                                            <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                                            <a href="{{ path('user_profil')}}">Profil</a>
                                            {% if is_granted('ROLE_ADMIN') %}

                                                <a href="{{ path('user_index') }}" >Gestion des utilisateurs</a>

                                            {% endif %}
                                        </ul>

                                    </li>
                                </ul>

                            </div>

                        </div>


                    {% else %}

                        <div class="anonyme">

                            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                            <a href="{{ path('fos_user_registration_register')}}">Inscription</a>

                        </div>

                    {% endif %}

                </nav>

            </fieldset>

        {% endblock %}
        {% block body %}


        {% endblock %}
    {% block javascripts %}{% endblock %}

</body>

</html>
